<div class="wrapper">

<div class="grid">
<h2>Take the quiz and find out</h2>
<form  
#startForm="ngForm" action="">
  <label for="">Enter Your Name:</label>
  <input type="text" name="name" ngModel/> <span>{{ name }}</span>
  <button (click)="[startQuiz(startForm.form), setUserName(startForm.form)]">Start Quiz</button>
</form>

<form class="questions"
 *ngIf="quizStarted"
#quizForm="ngForm" (ngSubmit)="submitQuiz(quizForm)">
  <div *ngFor="let question of questions; index as i">
    <p>{{ question.question_name }}</p>
    <label for="">{{ question.choice_1 }}</label>
    <input
      type="radio"
      name="question{{ i + 1 }}"
      ngModel
      value="{{ question.choice_1 }}"
    />
    <label for="">{{ question.choice_2 }}</label>
    <input
      type="radio"
      name="question{{ i + 1 }}"
      ngModel
      value="{{ question.choice_2 }}"
    />
    <label for="">{{ question.choice_3 }}</label>
    <input
      type="radio"
      name="question{{ i + 1 }}"
      ngModel
      value="{{ question.choice_3 }}"
    />
    <label for="">{{ question.choice_4 }}</label>
    <input
      type="radio"
      name="question{{ i + 1 }}"
      ngModel
      value="{{ question.choice_4 }}"
    />
  </div>

  <button>Submit your quiz</button>
</form>
</div>

</div>
